{% extends 'shared/__layout.html' %}
{% load jalali_tags %}
{% block content %}
    <div class="article-container">
        <div class="article-title">
            <a href="{% url 'user_add_view' %}" class="add-newfile-btn">افزودن کاربر جدید</a>
            <h1>لیست کاربران</h1>
            <a href="{% url 'home_view' %}" class="go-to-home-page-btn">رفتن به صفحه اصلی</a>
        </div>
        <table class="table report-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام و نام خانوادگی</th>
                <th scope="col">ایمیل</th>
                <th scope="col">تاریخ آخرین ورود</th>
                <th scope="col">دسترسی ادمین</th>
                <th scope="col">رویداد ها</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.last_login | to_jalali }}</td>
                    <td class="table-is-superuser">{% if user.is_superuser %}
                        <i class="fa-solid fa-circle-check"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-xmark"></i>
                    {% endif %} </td>
                    <td>
                        {% if not user.is_superuser %}
                            <a href="{% url 'user_edit_view' pk=user.id %}"
                               class="user-action-btn edit-user-btn">ویرایش</a>
                            <a onclick="deleteUser({{ user.id }})" class="user-action-btn delete-user-btn">حذف</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block custom_script %}
    <script>
        function deleteUser(id) {
            let url = `/accounts/user-list/${id}/delete/`
            $.ajax({
                method: "GET",
                url: url,
                headers: {
                    'X-CSRFToken': getCookie("csrftoken")
                },
                success: function (res) {
                    if (res.status === 'success') {
                        showNotification(res, 'موفق')
                        if (res.type && res.type === "free") {
                            setTimeout(() => {
                                location.reload()
                            }, 2000)
                        }
                    } else if (res.status === 'error') {
                        showNotification(res, 'شکست')
                        if (res.type && res.type === "exist") {
                            setTimeout(() => {
                                location.replace("/open-order/")
                            }, 2000)
                        }
                    }
                },
                error: function (res) {
                    showNotification({
                        message: 'لطفا از اتصال اینترنت خود اطمینان حاصل فرمایید',
                        status: 'error'
                    }, 'شکست')
                }
            })
        }
    </script>
{% endblock %}